# Ignore build and test artifacts
bcmdhd_build/
src/logs/
# Common build artifacts
*.o
*.ko
*.mod
*.mod.c
*.cmd

# Ignore debian package temp files
debian/tmp/
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/debhelper-build-stamp

